<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="thriftServer" type="Thrift.Server.Config.ThriftConfigSection,Thrift.Server"/>
  </configSections>

    <thriftServer>
    <services>
      <service name="GameService" handlerType="Thrift.Service.GameServiceHandler,Thrift.Service.dll"
               
               processType="ThriftTest.GameThriftService+Processor,GameThriftService" ifaceType="ThriftTest.GameThriftService+Iface,GameThriftService" minThreadPoolThreads="1000" maxThreadPoolThreads="1000" port="9021" znodeParent="/ThriftServer/GameService" >
      </service>


    </services>
  </thriftServer>
  <!--thrift server config end-->
</configuration>
