<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="thriftClient" type="Thrift.Client.Config.ThriftConfigSection,Thrift.Client"/>
  </configSections>

  <!--thrift client config-->
  <thriftClient>
    <services>
      <service name="ThriftTestThrift"
               spaceName="Thrift.Test.Thrift"
                className="ThriftTestThrift"
               minConnectionsNum="10"
               maxConnectionsNum="100"
               incrementalConnections="1"
               maxConnectionsIdle="100"
               timeout="5000"
               host="192.168.7.215:9022,192.168.7.215:9024,192.168.7.215:9021"
               poolTimeout="5000"
               >
        <ZookeeperConfig   connectInterval="1000"   host="192.168.1.181:2182,192.168.1.182:2182,192.168.1.183:2182"   sessionTimeout="5000"    nodeParent="/ThriftServer/ThriftTestThrift" />
      </service>

    </services>
  </thriftClient>
  <!--thrift client config end-->
</configuration>