<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="thriftClient" type="Thrift.Client.Config.ThriftConfigSection,Thrift.Client"/>
  </configSections>

  <thriftClient>
    <services>
      <service name="demo1"
         host="127.0.0.1:9001,127.0.0.1:9002"
         poolTimeout="10000"
         timeout="10000"
         minConnectionsNum="5"
         maxConnectionsNum="100"
         incrementalConnections="5"
         maxConnectionsIdle="20">
        <ZookeeperConfig
          host="192.168.1.181:2182,192.168.1.182:2182,192.168.1.183:2182"
          nodeParent="/ThriftServer/ThriftTestThrift" />
      </service>

      <service name="ThriftTestThrift">
        <ZookeeperConfig
          host="192.168.1.181:2182,192.168.1.182:2182,192.168.1.183:2182"
          nodeParent="/ThriftServer/ThriftTestThrift" />
      </service>
    </services>
  </thriftClient>
</configuration>