<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="thriftClient" type="Thrift.Client.Config.ThriftConfigSection,Thrift.Client"/>
  </configSections>

  <!--thrift client config-->
  <thriftClient>
    <services>
      <service name="GameThriftService"
               typeName="ThriftTest.GameThriftService+Client,GameThriftService"
               minConnectionsNum="10"
               maxConnectionsNum="100"
               incrementalConnections="5"
               maxConnectionsIdle="10"
               timeout="100000"
               host="127.0.0.1:9021"
               poolTimeout="50000"
               >
        <ZookeeperConfig       zhost="127.0.0.1:2181"   sessionTimeout="50000"        znodeParent="/ThriftServer/GameService" />
      </service>
    </services>
  </thriftClient>
  <!--thrift client config end-->
</configuration>