<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ZooKeeperNetEx" publicKeyToken="42cd15de36f9b993" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.9.4" newVersion="3.4.9.4" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>