<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!--thrift服务配置-->
    <add key="ThriftServerConfigPath2" value="Config/ThriftServer.config"/>
    <!--注册zk的情况下， thrift服务延时关闭时间 默认20000 单位:豪秒-->
    <add key="ThriftServerStopDelayedTime" value="10000"/>
    <!--thrift服务Ip限制配置文件路径-->
    <add key="ThriftIpLimitPath" value="Config/ThriftIpLimit.config"/>

    <add key="log4netConfigPath" value="/Config/log4net.config" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
